<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/794cdde4-5c1d-4b97-b665-baf2efc3e1d9/resourceGroups/Dev-esteban-test/providers/Microsoft.Web/sites/blazortesteban</ResourceId>
    <ResourceGroup>Dev-esteban-test</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blazortesteban.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>7a985ae9-f091-4f73-bbf0-daca93c489bc</ProjectGuid>
    <PublishUrl>https://blazortesteban.scm.azurewebsites.net/</PublishUrl>
    <UserName>$blazortesteban</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>