@page "/Compare"
@using CloudPrice.Data
@using CloudPrice.Services
@using CloudPrice.IServices
@using AntDesign;
@using AntDesign.TableModels;
@inject IPricesService PricesService

<h1>Compare</h1>
@*<label for="Skuname">Skuname :</label>
<select name="Skuname" @bind="skuname_input">
    @foreach (var skuname in Skuname)
    {
        <option value="@skuname">@skuname</option>
    }
</select>

@code {
    Skuname = 
    List<string> Skuname = new();
    string skuname_input = "";

}*@
